
<nav>
    <img src="/full_logo_white.png" alt="Mr. Coffee Logo White">
  <a href="/">Home</a>
  <a href="/employee_info">Employee info</a>
  <a href="/new_schedule">Manage Schedule</a>
  <a href="/logout">Logout</a>
</nav>
