
.navbar {
    padding-top: 30px;
    padding-bottom: 20px; 
}

nav img{
width: 150px; 
height: 75px;
padding: 20px;
padding-left: 30px;

}

nav {
height: 60px;
  background-color: #6a7c8a;
  width: auto;
  display: flex;
  justify-content: space-around
}
  nav a {
      color: #fff;
      font-weight: 600;
      font-size: 15px;
            padding-top: 20px;
    }

h1 {
  text-align: center;
  padding: 20px;
}
  
/* footer */
.footer {
color: teal;
background-color: #6a7c8a;
position: absolute;
bottom: 0;
width: 100%;
}


.schedules {
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.container {
  display: flex;
  flex-direction: column;
    padding: 10px;
    width: 60%;
}

h3 {
    text-align: center;
    padding: 20px;
}

.button {
    padding: 10px ;
    text-align: center;
width: auto
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  width: 25%;
}

ul {
 margin-left: auto;
margin-right: auto;
width: 15%;
}

.einfo {
  text-align: center;
}

p, h2 {
  text-align: center;
}

.signup {
padding-top: 20px; 

}

.login {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: auto;
  margin-left: auto;
}
