<h1>Sign up</h1>

<form action="" method="POST">
    <div class="container">
        <p>Please fill in this form to create an account.</p>
        <hr>

        <label for="firstName"><b>First name</b></label>
        <input type="text" placeholder="Enter first name" name="firstName" required>
        <br>

        <label for="surName"><b>Surname</b></label>
        <input type="text" placeholder="Enter Surname" name="surName" required>
        <br>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
        <br>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    
        <div class="">
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
    </div>
</form>