
<nav>
    <img src="/full_logo_white.png" alt="Mr. Coffee Logo White">
  
</nav>

<div class="container">
    <h1>Sign up</h1>

    <% if(typeof alert != 'undefined') { %>
        <% alert.forEach(function(error) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= error.msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        <% }) %>
    <% } %>

    <% if(typeof message != 'undefined') { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= message %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
    <% } %>

    <p>Please fill in this form to create an account.</p>


<form id="signupform" action="/signup" method="POST" novalidate>
    <div class="container">

        <label for="firstName"><b>First name</b></label>
        <input type="text" placeholder="Enter first name" id="firstName" name="firstName" required>


        <label for="surName"><b>Surname</b></label>
        <input type="text" placeholder="Enter Surname" id="surName" name="surName" required>


        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" id="email" name="email" required>


        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="psw" name="psw"  required>

        <label for="confirmPsw"><b>Re Enter Password</b></label>
        <input type="password" placeholder="Re-Enter Password" id="confirmPsw"name="confirmPsw" required>

        <div class="signup">
            <button type="submit" class="signupbtn">Sign Up</button>
            <p>Already a user? <a href="/">Log in</a></p>
        </div>
    </div>
</form>

