<h1>Sign up</h1>

<form action="/signup" method="POST">
    <div class="container">
        <p>Please fill in this form to create an account.</p>
        <hr>

        <label for="firstName"><b>First name</b></label>
        <input type="text" placeholder="Enter first name" name="firstName" required>
        <br>

        <label for="surName"><b>Surname</b></label>
        <input type="text" placeholder="Enter Surname" name="surName" required>
        <br>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
        <br>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw"  pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" title ="Minimum eight characters, at least one letter, one number and one special character" required>
        <br>
        <label for="confirm-psw"><b>Re Enter Password</b></label>
        <input type="password" placeholder="Re-Enter Password" name="confirmPsw" required>
        <% if(message) { %>
            <p style="color:red;"><%= message %></p>
          <% } %>
        <div class="">
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
    </div>
</form>

<input id="username" type="text" name="username" pattern="[A-Za-z]{5}" title= "Must be 5 letters" ><br>
